html
    margin: 0
    padding: 0

body
    font-family: 'Poppins', sans-serif

a
    text-decoration: none

.container
    width: 100%
    max-width: 1180px
    margin: 0 auto

.nav-main
    background-color: #3a16b7
    color: #fff
    .nav-main-grid
        display: flex
        justify-content: space-between
        .nav-main-logo
            display: flex
            align-items: center
        .nav-main-links
            display: flex
            align-items: center
            .nav-main-links-items
                list-style: none
                margin: 0
                padding: 0
                .nav-main-links-item
                    display: inline-block
                    margin-right: 25px
                    a
                        font-size: 16px
                        font-weight: 500
                        color: #fff
                        &:hover
                            text-decoration: underline
        .nav-main-login
            display: flex
            justify-content: center
            align-items: center
            width: 210px
            height: 55px
            background-color: #502dcf
            color: #fff
            font-size: 14px
            font-weight: 500
            &:hover
                text-decoration: underline
            img
                margin-right: 10px

.contact-bar
    height: 45px
    background-color: #000751
    color: #fff
    .contact-bar-grid
        display: flex
        justify-content: center
        align-items: center
        .contact-bar-info
            font-size: 15px
            font-weight: 500
            color: #acafd1
            a
                color: #ffce46
                &:hover
                    text-decoration: underline
        .contact-bar-whatsapp
            display: flex
            align-items: center
            font-size: 14px
            font-weight: 600
            line-height: 1.14
            color: #6dd400
            margin-left: 12px
            &:hover
                text-decoration: underline
            img
                margin-right: 10px